:root {
    --spine-colour: rgb(163,99,112);
    --card-spine: 2.5vh solid var(--spine-colour);
    --card-bg-colour: rgb(203,204,189);
    --dialog-bg-colour: rgb(182,137,122);
}


* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}



#new-book{
    height: 10vh;
    width: 10vw;
    font-size: min(3vh, 3vw);
    background-color: rgb(236,221,174);
    border-radius: 2vh;
    border: 2px solid black;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    height: 80vh;
    width: 80vw;
    border: 2px solid black;
    border-radius: 2vh;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    background-color: var(--card-bg-colour);
    width: 200px;
    height: 250px;
    padding: 20px;
    border-radius: 2vh;
    padding: 2vh;
    margin: 2vh;
    gap: 2vh;
    border-left: var(--card-spine);
}

.card-header {
    text-align: center;
}

.card-main {
    display: flex;
    flex-flow: column nowrap;
    gap: 1vh;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-btn-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}







dialog{
    background-color: var(--dialog-bg-colour);
    width: 50vw;
    height: 30vh;
    padding: 20px;
    border-radius: 2vh;
    padding: 2vh;
    margin: 2vh;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

dialog > h1 {
    text-align: center;
    margin-bottom: 2vh;
}

fieldset {
    border-style: none;
}

form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2vh;
    display: grid;  
    grid-template-columns: 1fr 2fr;
    row-gap: 2vh;
}

input {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.dialog-btn-container {
    grid-column: 1/3;
    display: grid;
    gap: 1vh;
}

#add,
#cancel,
.change-status,
.remove-btn {
    color: white;
    border-radius: 1vh;
    border-style: solid;
    height: minmax(3vh, 4vh);
    width: 7.5vw;
}

#add,
.change-status {
    background-color: rgb(0,83,135);
}

#cancel,
.remove-btn {
    background-color: var(--spine-colour);
}